{% extends 'base.html.twig' %}

{% block title %}
  Edit password
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}
  {{ old }}
  <h1>
    Edit password
  </h1>

  {{ form_start(editPasswordForm) }}
  {{ form_row(editPasswordForm.oldPassword) }}
  {{ form_row(editPasswordForm.password) }}

  <button type="submit" class="btn">Edit</button>
  {{ form_end(editPasswordForm) }}
{% endblock %}
